/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ Universal Selector -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ Element Selectors -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ Class Selectors -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

/* Main image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* ------------------------------------------------------ Header Section -------------------------------------------------------*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Logo heading */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Logo SEO styling */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header div */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header > div > user-list styling */
.header div ul {
    list-style-type: none;
}
/*Navigation bar links*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* -------------------------------------------------------- Contents Section ----------------------------------------------------*/

/* Content Div styling */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* SEO box styling */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Online Reputation Management box styling */

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Social Media Marketing box styling */

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* SEO box image */
.search-engine-optimization img {
    max-height: 200px;
}

/* Online Reputation Management box image */
.online-reputation-management img {
    max-height: 200px;
}

/* Social Media Marketing box image */
.social-media-marketing img {
    max-height: 200px;
}

/* Search engine Optimization heading */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Online reputation management heading */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Social Media marketing heading */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* -------------------------------------------------------- Benefits Section ----------------------------------------------------*/

/* Benefits Div styling */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    position: relative;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Lead generation div */

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Brand awareness div */

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Cost management div */

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Lead generation heading */

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Brand awareness heading */

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Cost management heading */

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Lead generation icon */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Brand awareness icon */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Cost management icon */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ----------------------------------------------------------- Footer ----------------------------------------------------------*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer heading */
.footer h4 {
    font-size: 20px;
}
